$container-width-xl: 1000px;

$header-height-xl: 65px;
$header-logo-size: 40px;
$header-menu-btn-size: 30px;
$header-menu-icon-line-height: 2px;
$header-socials-link-size: 26px;
$header-logo-link-animate-duration: 1s;

$intro-height-xl: 350px;

$gallery-container-height-xl: 480px;
$gallery-container-height-l: 280px;
$gallery-slide-description-width-xl: 250px;
$gallery-slide-description-width-l: 150px;

$footer-container-height: 100px;