header.header
	div.container.header__container
		div.header__menu-btn
			div.header__menu-icon
		div.header__item.header__item_nav
			ul.header__nav-list
				li.header__nav-item
					a.header__nav-link(href="").
						Мы
				li.header__nav-item
					a.header__nav-link(href="").
						Портфолио
				li.header__nav-item
					a.header__nav-link(href="").
						Контакты
		div.header__item.header__item_logo
			a.header__logo-link(href="#")
				svg.header__logo
					use(xlink:href="#logo")
		div.header__item.header__item_social
			ul.header__language-list
				li.header__language-item
					a.header__language-link.header__language-link_active(href="").
						ру
				li.header__language-item
					a.header__language-link(href="").
						en
			ul.header__socials-list
				li.header__socials-item
					a.header__socials-link.header__socials-link_hh(href="").
						hh
				li.header__socials-item
					a.header__socials-link(href="").
						<i class="fa fa-facebook" aria-hidden="true"></i>
				li.header__socials-item
					a.header__socials-link(href="").
						<i class="fa fa-instagram" aria-hidden="true"></i>
				li.header__socials-item
					a.header__socials-link(href="").
						<i class="fa fa-behance" aria-hidden="true"></i>
				li.header__socials-item
					a.header__socials-link(href="").
						<i class="fa fa-dribbble" aria-hidden="true"></i>
				li.header__socials-item
					a.header__socials-link(href="").
						R



